@charset "utf-8";

// 文字色
$text-color: #333;

// 分類カラー
// デフォルト
$cat-default-text:   #333;
$cat-default-back:   #fff;
$cat-default-hover:  #eee;
$cat-default-border: #ddd;
$cat-default-field:  #f5f5f5;
// プライマリー
$cat-primary-text:   #fff;
$cat-primary-back:   #428bca;
$cat-primary-hover:  #3276b1;
$cat-primary-border: #285e8e;
$cat-primary-field:  #f5f5f5;
// デンジャー
$cat-danger-text:    #fff;
$cat-danger-back:    #d9534f;
$cat-danger-hover:   #d2322d;
$cat-danger-border:  #ac2925;
$cat-danger-field:   #f2dede;
// サクセス
$cat-success-text:   #fff;
$cat-success-back:   #5cb85c;
$cat-success-hover:  #47a447;
$cat-success-border: #4cae4c;
$cat-success-field:  #dff0d8;
// コーション
$cat-warning-text:   #fff;
$cat-warning-back:   #f0ad4e;
$cat-warning-hover:  #ed9c28;
$cat-warning-border: #eea236;
$cat-warning-field:  #fcf8e3;
// 無効
$cat-disabled-text:   #fff;
$cat-disabled-back:   #999999;
$cat-disabled-hover:  #999999;
$cat-disabled-border: #666666;
$cat-disabled-field:  #aaaaaa;
